<meta charset="utf-8"/>
<meta property="twitter:account_id" content="1491440503" />
<title>
	{% if page.category %} {{ page.category | capitalize }} | {% endif %} 
	{% if page.title %} {{ page.title }} | {% endif %} 
	{{ site.name }}
</title>
<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{site.url}}/resources/css/styles.css" />
<link rel="stylesheet" href="{{site.url}}/resources/css/animations.css" />
<link rel="stylesheet" href="{{site.url}}/resources/css/pygments.css" />
<meta name="description" content="{{site.description}}"/>
<meta name="author" content="{{site.author}}"/>
