
<nav>
    <ul>
        <li class="first {% if page.url == '/index.html' %} current {%endif%}"><a href="/"><span class="logo">CocktailJS</span></a></li>
        <li class="{% if page.url contains  '/blog' %} current {%endif%}"><a href="/blog">Blog</a></li>
        <li class="{% if page.url contains  '/docs' %} current {%endif%}"><a href="/docs">Documentation</a></li>
        <li class="{% if page.url contains  '/guides' %} current {%endif%}"><a href="/guides">Guides</a></li>
        <li class="{% if page.url contains  '/extensions' %} current {%endif%}"><a href="/extensions">Extensions</a></li>
    </ul>
</nav>
