<div class="social">
    <ul>
        <li class="creator">
            &copy; 2013 - 2014 <br>
            CocktailJS <br>
            Maximiliano Fierro
        </li>
    </ul>
    <ul>
        <li>
            <div class="social-item twitter">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="CocktailJS">Tweet
                </a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>            
            <div class="social-item g-plus">
                <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="160"></div>
                <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
            </div>
            {% include fb-sdk.html %}
            <div class="social-item facebook">
                <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
        </li>
    </ul>
    <ul>
        <!-- gittip -->
        <!-- <li class="social-item gittip">
            <iframe style="border: 0; margin: 0; padding: 0;"
            src="https://www.gittip.com/elmasse/widget.html"
            width="48pt" height="22pt"></iframe>
        </li> -->
        <li class="social-item travis-ci">
            <!-- Travis CI build-->
            <a href="https://travis-ci.org/CocktailJS/cocktail"><img src="https://travis-ci.org/CocktailJS/cocktail.png?branch=master"/></a>
        </li>
        <li class="social-item npm">
            <!-- npm -->
            <a href="http://npmjs.org/package/cocktail"><img src="https://badge.fury.io/js/cocktail.png"></a>
        </li>
    </ul>
    <ul>
        <li>
            <!-- Twiter -->
            <div class="social-item twitter">
                <a href="https://twitter.com/CocktailJS" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @CocktailJS</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </li>
<!--         <li>
            <iframe src="{{site.url}}/resources/github-button/github-button.html?user=CocktailJS&repo=cocktail&type=follow"
              allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
        </li> -->
        <li>
            <iframe src="{{site.url}}/resources/github-button/github-button.html?user=CocktailJS&repo=cocktail&type=watch&count=true"
              allowtransparency="true" frameborder="0" scrolling="0" width="162" height="20"></iframe>
        </li>        
        <li>
            <iframe src="{{site.url}}/resources/github-button/github-button.html?user=CocktailJS&repo=cocktail&type=fork&count=true"
             allowtransparency="true" frameborder="0" scrolling="0" width="162" height="20"></iframe>
        </li>
        <li>
            <iframe src="{{site.url}}/resources/github-button/github-button.html?user=CocktailJS&repo=cocktailjs.github.io&type=fork&count=false&btn-text=This Page"
             allowtransparency="true" frameborder="0" scrolling="0" width="162" height="20"></iframe>
        </li>        
    </ul>
</div>
