/* DEFAULT LAYOUT */

.default header {
  height: 400px;
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 75px;
}

.default header .logo {
  background: url(../images/logo.png) no-repeat -75px -20px;
  background-size: 340px;
  height: 131px;
  width: 160px;
  display: inline-block;
}

.default header .title {
  font-weight: 400;
  font-size: 160px;
  color: #555;
  letter-spacing: -5px;
  /*text-shadow: #181818 0 1px 1px;*/
}

.default header .description{
  font-weight: 400;
  font-size: 32px;
  color: #919191;
}

.default header .social{
  margin-top: 75px;
}