/* DEFAULT LAYOUT */

.default nav {
  box-shadow: 0 1px 5px #181818;
}

.default header {
  height: 550px;
  background-color: #555;
  background: rgba(31, 31, 31, 0.8) url(../images/macdisplay.png) no-repeat 100% 100%;
  background-size: 400px;
}

.default hgroup {
  margin-left: 100px;
  padding-top: 90px;
}

.default header .logo {
  background: url(../images/logo.png) no-repeat -75px -20px;
  background-size: 340px;
  height: 131px;
  width: 165px;
  display: inline-block;
}

.default header .title {
  font-weight: 400;
  font-size: 140px;
  color: #f1f1f1;
  letter-spacing: -5px;
}

.default header .description{
  font-weight: 400;
  color: #919191;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}

.default .action {
  display: inline-block;
  padding: 5px 10px; 
}

.default .action.orange{
  background: #f63;
  color: #eee;
}

.default .action.white{
  color: #f63;
  background: #eee;
}

.default header .social{
  padding-top: 0;
  margin-top: 35px; 
  display: none;
}