<!DOCTYPE html>

<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{site.url}}/resources/css/blog.css" />
        {% include analytics.html %}
    </head>

    <body class="blog">
        {% include navigation.html %}            

        <main>
            <section class="entries">
                {% for post in site.categories.blog %}
                    <article class="entry"> 
                        <a href="{{ post.url }}">
                          <h1 class="title">{{ post.title }}</h1>
                        </a>
                        <div class="meta">
                            <div class="tags">
                                {% for tag in post.tags %}
                                    <span class="tag">{{ tag }}</span>
                                {% endfor %}
                            </div>
                            <div class="date">{{ post.date | date_to_string }}</div>
                        </div>
                        <div class="preview">
                            {{ post.excerpt }}
                            <a href="{{ post.url }}">Read More</a>
                        </div> 
                    </article>  
                {% endfor %}

            </section> 

        </main>

        {% include footer.html %}

    </body>

</html>