<!DOCTYPE html>

<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{site.url}}/resources/css/post.css" />
        {% include analytics.html %}
    </head>

    <body class="post">
        {% include navigation.html %}
        {% include fb-sdk.html %}
        <header>
            <hgroup>
                <h1 class='title'> {{ page.title }}</h1>
                <h2 class="repo-name">{{ page.repo-name }}</h2>
                <div class="meta">
                    <div class="tags">
                        {% for tag in page.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <div class="date">{{ page.date | date: '%B %d, %Y' }}</div>
                </div>

                {% include social-post.html %}
          </hgroup>
        </header>

        <main>

            {{ content }}

            <br/>
            Check the <a href="https://github.com/CocktailJS/{{ page.repo-name }}" target="_blank">Github Repository</a> for this extension.

            {% include post-previous-next.html %}
            {% include disqus-comments.html %}

        </main>

        {% include footer.html %}

    </body>

</html>