<!DOCTYPE html>

<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{site.url}}/resources/css/guide.css" />
        {% include analytics.html %}
    </head>

    <body class="guide">
        {% include navigation.html %}
        {% include fb-sdk.html %}
        <header>
            <hgroup>
                <h1 class='title'> {{ page.title }}</h1>
                <div class="meta">
                    <div class="tags">
                        {% for tag in page.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <div class="date">{{ page.date | date_to_string }}</div>
                </div>

                <div class="social"> 
                    <div class="twitter">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="CocktailJS">Tweet
                        </a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                    <div class="g-plus">
                        <div class="g-plusone" data-size="medium"></div>

                        <script type="text/javascript">
                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/platform.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>
                    </div>

                    <div class="facebook">
                        <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>                     
                   </div>
                </div>

            </hgroup>
        </header>

        <main>

            {{ content }}

            {% include disqus-comments.html %}
        </main>

        {% include footer.html %}

    </body>

</html>