<!DOCTYPE html>

<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{site.url}}/resources/css/guides.css" />
    </head>

    <body class="guides">
        {% include navigation.html %}            

        <header>
            <h1 class="title">{{ page.title }}</h1>
        </header>

        <main>
            {% for tag in page.tags %}
                <section class="entries">
                    <h1>{{tag}}</h1>
                {% for post in site.categories.guides reversed %}
                    {% if post.tags contains tag%}
                        <article class="entry">
                            <a href="{{ post.url }}">
                                <h1 class="title">{{ post.title }}</h1>
                            </a>
                        </article>
                    {% endif %}                        
                {% endfor %}
                </section> 
            {% endfor %}
        </main>

        {% include footer.html %}
        {% include analytics.html %}

    </body>

</html>