<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{site.baseurl}}/resources/css/styles.css" />
        <link rel="stylesheet" href="{{site.baseurl}}/resources/css/animations.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
    </head>

    <body class="post">
        {% include navigation.html %}

        <header>
            <hgroup>
                <h1 class='title'> {{ page.title }}</h1>
                <div class="meta">
                    <div class="tags">
                        {% for tag in page.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <div class="date">{{ page.date | date_to_string }}</div>
                </div>

                <div class="social twitter">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="CocktailJS">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                </div>
            </hgroup>
        </header>

        <main>

            {{ content }}

        </main>

        <footer>
            <p>&copy; <time>2013</time>{{ site.author }}</p>
        </footer>

        <!-- Analytics -->
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("{{site.analytics}}");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>

    </body>

</html>