<!DOCTYPE html>

<html>
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="{{site.url}}/resources/css/post.css" />
        {% include analytics.html %}
    </head>

    <body class="post">
        {% include navigation.html %}

        <header>
            <hgroup>
                <h1 class='title'> {{ page.title }}</h1>
                <div class="meta">
                    <div class="tags">
                        {% for tag in page.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <div class="date">{{ page.date | date_to_string }}</div>
                </div>

                <div class="social twitter">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="CocktailJS">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </hgroup>
        </header>

        <main>

            {{ content }}

            {% include disqus-comments.html %}

        </main>

        {% include footer.html %}

    </body>

</html>